@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  /* variables */
  --color-primary: hwb(224 8% 72%);
  --color-secondary: hwb(230 14% 62% / 0.788);

  height: 100%;
  width: 100%;
  @apply text-sm;
  @apply bg-primary;
  @apply text-gray-100;
}

.img-filter-invert {
  -webkit-filter: invert(1);
  filter: invert(0.75);
  }

@layer utilities {
  .active {
    @apply rounded-none border-0 border-solid border-l-4 border-l-blue-400;
  }
}
